
{% extends "layouts/base.html.twig" %}
    {% block body %}
        <section class="main-banner main-banner-style-three text-white" data-bg-img="assets/img/banner-style3.jpg">
            <div class="swiper-container home-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row banner-content align-items-center">
                                <div class="col-md-7">
                                   <!-- 
                                   <span data-animate="fadeInUp" data-delay="0">Find your true space</span>-->
                                        <h2 data-animate="fadeInUp" data-delay=".1">
                                            Bienvenue Dans La Prefecture De Pita
                                        </h2>
                                            <p data-animate="fadeInUp" data-delay=".2">
                                               La préfecture de Pita située dans la partie centrale du Fouta Djallon,dispose d'une superficie de 4.320 km2,elle est subdivisée
                                               en une commune urbaine et 11 Communautés Rurales de Développement
                                               (CRD).
                                            </p>
                            
                                </div>
                                    <div class="col-md-5">
                                        <img data-animate="fadeInRight" data-delay=".5" src="assets/img/cloud-man.png" alt="">
                                    </div>
                            </div>
                        </div>
                    </div>
                            <div class="swiper-slide">
                                <div class="container">
                                    <div class="row banner-content align-items-center">
                                        <div class="col-md-5">
                                            <img data-animate="fadeInLeft" data-delay=".5" src="assets/img/cloud-man.png" alt="">
                                        </div>
                                            <div class="col-md-7">
                                            <!--
                                                <span data-animate="fadeInUp" data-delay="0">Find your true space</span>
                                            -->
                                                    <h2 data-animate="fadeInUp" data-delay=".1">
                                                        Pita Vous Souhaite La Bienvenue
                                                    </h2>
                                                        <p data-animate="fadeInUp" data-delay=".2"> 
                                                           La préfecture de Pita située dans la partie centrale du Fouta Djallon,dispose d'une superficie de 4.320 km2,elle est subdivisée
                                                          en une commune urbaine et 11 Communautés Rurales de Développement
                                                         (CRD).
                                                        </p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        <div class="swiper-pagination home-slider-pagination">
                       </div>
            </div> 
        </section>
        <section class="pt-120 pb-120 bg-dark">
            <div class="container">
                    <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">Pourquoi Choisir whyinfos ?</h2>
                        <span id="contenu_new_p" data-animate="fadeInUp" data-delay=".2">WHYINFOS est l'un des meilleurs sites d'informations en Guinée, il dispose aussi des cours, exercices, formations qui sont gratuites et un système de réservation en ligne disponible dans plusieurs restaurants, boutiques, nightclub dans la ville de Pita.
                        </span>
                </div>
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single-reason" data-animate="fadeInUp" data-delay=".1">
                                <img src="assets/img/performance.png" alt="">
                                    <h3>Rapide</h3>
                                        <p>
                                            Le chargement de notre site est ultra-rapide.
                                        </p>
                            </div>
                        </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-reason" data-animate="fadeInUp" data-delay=".3">
                                    <img src="assets/img/security.png" alt="">
                                        <h3>Simple</h3>
                                    <p>Nos informations sont accessibles en un clic 24h/24.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-reason" data-animate="fadeInUp" data-delay=".5">
                                        <img src="assets/img/spam-guard.png" alt="">
                                        <h3>Securisé</h3>
                                            <p>Nous vous offrons un système de sécurité de haut niveau.</p>
                                </div>
                            </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-reason" data-animate="fadeInUp" data-delay=".7">
                                        <img src="assets/img/support.png" alt="">
                                            <h3>Utile à Pita</h3>
                                                <p>
                                                    Grâce à whyinfos vous êtes informé des actualités de la préfecture de pita en temps réel.
                                                </p>
                                    </div>
                                </div>
                    </div>
            </div> 
        </section>
        <section class="home-video text-center" data-animate="fadeInUp" data-delay=".1">
            <div class="container">
                    <img id="img_acceuil" src="assets/img/prefecture.jpeg" alt="">
            </div> 
        </section>
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">
                        Pita Kamin
                    </h2>
                        <span data-animate="fadeInUp" data-delay=".2">
                            Pita Ville D'education,De Culture Et De Sport
                    </span>
                </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-ch-plan text-center single-ch-plan-style-two" data-animate="fadeInUp" data-delay=".5">
                                <span class="standard-plan-style-two">Meilleurs</span>
                                    <h2>écoles</h2>
                                        <ul>
                                            <li><i class="fa fa-check"></i>Williams Macauley</li>
                                            <li><i class="fa fa-check"></i>Elhadj Ibrahima Barry
                                            </li>
                                            <a href="E_oustoya.php"><li><i class="fa fa-check"></i>Lycée Oustoya</li></a>
                                            <a href="E_AAB.php"><li><i class="fa fa-check"></i>Alpha Abdoulaye Barry
                                            </li></a>
                                            <a href="E_Alin.php"><li><i class="fa fa-check"></i>Collège Alain Faugaret</li></a>
                                            <a href="E_boumalol.php"><li><i class="fa fa-check"></i>Elhadj Madjou Boumalol Bah
                                            </li></a>
                                            <li><i class="fa fa-check"></i>Collège Guissouma</li>
                                            <li><i class="fa fa-check"></i>Groupe Scolaire Pati
                                            </li>
                                            <li><i class="fa fa-check"></i>Groupe Scolaire Saint-Patric</li>
                                            <li><i class="fa fa-check"></i>Ecole Primaire Pita 1
                                            </li>
                                            <li><i class="fa fa-check"></i>Ecole Primaire Pita 2
                                            </li>
                                            <li><i class="fa fa-check"></i>Ecole Primaire Pita 3
                                            </li>
                                        </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-ch-plan text-center single-ch-plan-style-two" data-animate="fadeInUp" data-delay=".3">
                                    <span class="standard-plan-style-two">Sous</span>
                                    <h2>Préfecture</h2> 
                                    <!--<span>You can use your title texe here</span>-->
                                    <ul>
                                            <a href="historique.php"><li><i class="fa fa-check"></i>Pita Centre</li></a>
                                            <li><i class="fa fa-check"></i>Sintaly</li>
                                            <li><i class="fa fa-check"></i>Bantighel</li>
                                            <li><i class="fa fa-check"></i>Bourouwal-Tappé</li>
                                            <li><i class="fa fa-check"></i>Gongoré</li>
                                            <li><i class="fa fa-check"></i>Maci</li>
                                            <li><i class="fa fa-check"></i>Timbi-Tounni</li>
                                            <li><i class="fa fa-check"></i>Timbi-Madina</li>
                                            <li><i class="fa fa-check"></i>Doghol-Touma</li>
                                            <li><i class="fa fa-check"></i>Ley-Miro</li>
                                            <li><i class="fa fa-check"></i>Sangaréah</li>
                                            <li><i class="fa fa-check"></i>Ninguélandé</li>
                                    </ul>
                                </div>
                        </div>
                                
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-ch-plan text-center single-ch-plan-style-two" data-animate="fadeInUp" data-delay=".3">
                                    <h2>Localisation</h2> 
                                    <ul>
                                        <li>
                                            <i class="fa fa-check"></i>Pays: Guinée(Conakry)</li>
                                            <li><i class="fa fa-check"></i>Région: Mamou</li>
                                            <li><i class="fa fa-check"></i>Préfecture: Pita</li>
                                            <li><i class="fa fa-check"></i>Altitude :998m</li>
                                            <li><i class="fa fa-check"></i>Coordonnées</li>
                                            <li><i class="fa fa-check"></i>(11° 03° 34°) Nord</li>
                                            <li><i class="fa fa-check"></i>(12° 23° 44°) Ouest</li>
                                            <li><i class="fa fa-check"></i>Superficie: 4.320 km2</li>
                                        </br></br></br></br>
                                    </ul>
                                </div>
                            </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="single-ch-plan text-center single-ch-plan-style-two" data-animate="fadeInUp" data-delay=".7">
                                            <h2>Faits Divers</h2>
                                                    <ul>
                                                        <a href="pita_forever.php"><li><i class="fa fa-check"></i>ONG Pita Forever</li></a>
                                                        <a href="ajep.php"><li><i class="fa fa-check"></i>L'association AJEP</li></a>
                                                        <a href="sangareah.php"><li><i class="fa fa-check"></i>L'association EUPLPJ
                                                        </li></a>
                                                        <a href="mellinium.php"><li><i class="fa fa-check"></i>Millenium Plus</li></a>
                                                        <li><i class="fa fa-check"></i>Barry Voyage</li>
                                                            <li><i class="fa fa-check"></i>Restaurant Fast Food</li>
                                                            <li><i class="fa fa-check"></i>Restaurant Sister</li>
                                                            <li><i class="fa fa-check"></i>Restaurant Guinnée Food</li>
                                                            <li><i class="fa fa-check"></i>Barrage Hydroélectrique (KinKon)</li>
                                                            <li><i class="fa fa-check"></i>Chute De Séré Diourdé</li> 
                                                        </br>
                                                    </ul>
                                                            </div>
                                    </div>
                                    </div>
                </div> 
        </section>
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">Récents Articles</h2>
                </div>
                <div class="row">
                    {% for article in all_article %}
                        <div class="col-lg-4 col-md-4">
                            <div class="single-latest-news" data-animate="fadeInUp" data-delay=".1"> 
                                <a href="{{ path('article-show',{'id': article.id}) }}"> <img id="test2" src="{{ vich_uploader_asset(article) }}" alt="{{ article.titre}}" width="400px" height="300px"> </a>
                                <ul class="post-details list-inline">
                                    <li><i class="fa fa-calendar-o"></i><a href="#">Créer le {{ article.createdAt|date('d/m/Y') }}</a></li>
                                </ul>
                                <h2><a href="{{ path('article-show',{'id': article.id}) }}">{{ article.titre }}</a></h2>
                            </div>
                        </div>
                    {% endfor %}  
                </div>
                <div class="blog-link text-center" data-animate="fadeInUp" data-delay=".4"> 
                    <a href="{{ path('article') }}" class="btn btn-primary">Listes Des Articles</a>
                </div>
            </div>
        </section>
    {% endblock %}